@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.google-sans-400 {
    
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "GRAD" 80;
}
nav a {
  color:#F0E8D3 !important;
  
}
nav a:hover {
  color:#FFF !important;
  text-decoration: underline !important;
}